.description {
    margin: 7.5em 10.63em;
}
.description-navigator {
    display: flex;
}
.description-nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 600;
    width: 10.69em;
    height: 4.38em;
    border: 0.06em solid #d0d0d0;
}
.description-nav-box.fade {
    background-color: #fbfbfb;
    color: #555;
}
.description-description {
    display: flex;
    flex-direction: column;
    gap: 1.56em;
    border: 0.06em solid #d0d0d0;
    padding: 3em;
    padding-bottom: 4.38em;
}

.rating-stars {
    font-size: 1.5em;
    cursor: pointer;
}

.star {
    color: grey;
    margin-right: 0.31em;
}

.star.selected {
    color: gold;
}

.average-rating {
    margin-top: 0.63em;
}

@media(max-width:1280px) {
    .description {
        margin: 3.75em;
    }
}

@media(max-width:800px) {
    .description {
        margin: 3.75em 1.25em;
    }
    .description-description {
        font-size: 0.88em;
    }
}