.pop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.63em;
    height: 56.25em;
}

.pop h1 {
    color: #171717;
    font-size: 3.13em;
    font-weight: 600;
}

.pop hr {
    width: 12.50em;
    height: 0.38em;
    border-radius: 0.63em;
    background: #252525;
}

.pop-item {
    margin-top: 3.13em;
    display: flex;
    gap: 1.88em;
}

@media(max-width: 1280px) {
    .pop {
        height: 43.75em;
    }
    .pop h1 {
        font-size: 2.50em;
    }
    .pop hr {
        width: 10.00em;
        height: 0.25em;
    }
    .pop-item {
        gap: 1.25em;
        margin-top: 1.88em;
    }
}

@media(max-width: 1024px) {
    .pop {
        height: 37.50em;
    }
    .pop h1 {
        font-size: 1.88em;
    }
    .pop hr {
        width: 7.50em;
        height: 0.19em;
    }
    .pop-item {
        gap: 0.94em;
        margin-top: 1.25em;
    }
}

@media(max-width: 800px) {
    .pop {
        height: 31.25em;
        gap: 0.38em;
    }
    .pop h1 {
        font-size: 1.25em;
    }
    .pop hr {
        width: 6.25em;
    }
    .pop-item {
        gap: 0.31em;
    }
}

@media(max-width: 500px) {
    .pop {
        height: 56.25em;
    }
    .pop-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.25em;
    }
}
