.side {
    display: flex;
    flex-direction: column;
    padding-top: 1.88em;
    gap: 1.25em;
    width: 100%;
    max-width: 15.63em;
    height: 100vh;
    background: white;
}
.side-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.25em;
    padding: 0.31em 0.63em;
    border-radius: 0.38em;
    background: #f6f6f6;
    gap: 1.25em;
    cursor: pointer;
}
@media(max-width:50em) {
    .side {
        padding: 1.88em 0;
        flex-direction: row;
        width: 100%;
        max-width: none;
        height: auto;
        justify-content: center;
    }
    .side-item {
        margin: 0;
    }
}