.related {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.63em;
    height: 56.25em;
}

.related h1 {
    color: #171717;
    font-size: 3.13em;
    font-weight: 600;
}

.related hr {
    width: 12.5em;
    height: 0.38em;
    border-radius: 0.63em;
    background: #252525;
}

.related-item {
    margin-top: 3.13em;
    display: flex;
    gap: 1.88em;
}

@media(max-width:1280px) {
    .related {
        height: 70em;
    }

    .related h1 {
        font-size: 2.5em;
    }

    .related hr {
        width: 10em;
        height: 0.25em;
    }

    .related-item {
        gap: 1.25em;
        margin-top: 1.88em;
    }
}

@media(max-width:1024px) {
    .related {
        height: 60em;
    }

    .related h1 {
        font-size: 1.88em;
    }

    .related hr {
        width: 7.5em;
        height: 0.19em;
    }

    .related-item {
        gap: 0.94em;
        margin-top: 1.25em;
    }
}

@media(max-width:800px) {
    .related {
        height: 50em;
        gap: 0.38em;
    }

    .related h1 {
        font-size: 1.25em;
    }

    .related hr {
        width: 6.25em;
    }

    .related-item {
        gap: 0.31em;
    }
}

@media(max-width:500px) {
    .related {
        height: 90em;
    }

    .related-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.25em;
    }
}
