.ouroffers {
    width: 40.63em;
    height: 37.50em;
    display: flex;
    margin: auto;
    padding: 0 8.75em;
    margin-bottom: 9.38em;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.ouroffers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ouroffers-left h1 {
    color: #171717;
    font-size: 5.00em;
    font-weight: 600;
}

.ouroffers-left p {
    color: #171717;
    font-size: 1.38em;
    font-weight: 600;
}

.ouroffers-left button {
    width: 17.63em;
    height: 4.38em;
    border-radius: 1.88em;
    background: #ff4141;
    border: none;
    color: wheat;
    font-size: 1.38em;
    font-weight: 500;
    margin-top: 1.88em;
    cursor: pointer;
}

.ouroffers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3.13em;
}

@media(max-width: 1280px) {
    .ouroffers {
        padding: 0 5.00em;
        margin-bottom: 7.50em;
    }
    .ouroffers-left h1 {
        font-size: 2.50em;
    }
    .ouroffers-left p {
        font-size: 1.13em;
    }
    .ouroffers-right img {
        width: 18.75em;
    }
    .ouroffers-left button {
        width: 13.75em;
        height: 3.13em;
        font-size: 1.13em;
    }
    .ouroffers-right {
        padding-top: 1.88em;
    }
}

@media(max-width: 1024px) {
    .ouroffers {
        padding: 0 3.75em;
        margin-bottom: 5.00em;
        height: 25.00em;
    }
    .ouroffers-left h1 {
        font-size: 1.88em;
    }
    .ouroffers-left p {
        font-size: 1.00em;
    }
    .ouroffers-right img {
        width: 12.50em;
    }
    .ouroffers-left button {
        width: 10.00em;
        height: 2.50em;
        font-size: 1.00em;
    }
    .ouroffers-right {
        padding-top: 0.63em;
    }
}

@media(max-width: 800px) {
    .ouroffers {
        margin-bottom: 3.75em;
    }
    .ouroffers-left h1 {
        font-size: 0.75em;
    }
    .ouroffers-left p {
        font-size: 0.81em;
    }
    .ouroffers-right img {
        width: 11.25em;
    }
    .ouroffers-left button {
        width: 8.75em;
        height: 1.88em;
        font-size: 0.75em;
    }
}

@media(max-width: 500px) {
    .ouroffers {
        height: 15.63em;
        margin-bottom: 3.13em;
    }
    .ouroffers-left h1 {
        font-size: 1.00em;
    }
    .ouroffers-left p {
        font-size: 0.63em;
    }
    .ouroffers-right img {
        width: 7.50em;
    }
    .ouroffers-left button {
        width: 7.50em;
        height: 1.56em;
        font-size: 0.63em;
        margin-top: 0.75em;
    }
}
