.add-product {
    box-sizing: border-box;
    width: 100%;
    max-width: 50em;
    padding: 1.87em 3.12em;
    margin: 1.25em 1.87em;
    border-radius: 0.37em;
    background: white;
}
.product-itemfield {
    width: 100%;
    color: #7b7b7b;
    font-size: 1em;
}
.product-itemfield input {
    box-sizing: border-box;
    width: 100%;
    height: 3.125em;
    border-radius: 0.25em;
    padding-left: 0.93em;
    border: 0.06em solid #c3c3c3;
    outline: none;
    columns: #7b7b7b;
    font-family: 'Poppins';
    font-size: 0.87em;
}
.product-textarea {
    box-sizing: border-box;
    width: 100%;
    height: 6.25em;
    border-radius: 0.25em;
    padding: 0.93em;
    border: 0.06em solid #c3c3c3;
    outline: none;
    font-family: 'Poppins';
    font-size: 0.87em;
    resize: none;
}
.product-price {
    display: flex;
    gap: 2.5em;
}
.add-product-selector {
    padding: 0.62em;
    width: 6.25em;
    height: 3.12em;
    font-size: 0.87em;
    color: #7b7b7b;
    border: 0.0625em solid #7b7b7b8d;
    border-radius: 0.25em;
}
.product-thumbnail-img {
    height: 7.5em;
    width: 7.5em;
    border-radius: 0.62em;
    object-fit: contain;
    margin: 0.62em 0;
}
.product-btn {
    margin-top: 1.25em;
    width: 10em;
    height: 3.12em;
    border-radius: 0.37em;
    background: #6079ff;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1em;
    font-weight: 600;
}
@media(max-width:50em) {
    .add-product {
        width: auto;
        padding: 1.87em;
        margin: 1.25em;
    }
}
