.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.94em 3.75em;
    box-shadow: 0 0.06em 0.19em -0.13em #000;
    margin-bottom: 0.06em;
    background: white;
}
.nav-logo {
    width: 12.5em;
}
.nav-profile {
    width: 4.69em;
}
@media(max-width:50em) {
    .navbar {
        padding: 0.94em 1.88em;
    }
    .nav-logo {
        width: 9.38em;
    }
    .nav-profile {
        width: 3.75em;
    }
}
