.navigation {
    display: flex;
    justify-content: space-around;
    padding: 1.00em;
    box-shadow: 0 0.06em 0.19em -0.13em black;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 0.63em;
}

.nav-logo img {
    height: auto; 
}

.nav-logo p {
    color: #171717;
    font-size: 2.38em;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3.13em;
    color: #626262;
    font-size: 1.25em;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.19em;
    cursor: pointer;
}

.nav-menu li .active {
    font-weight: bold;
    border-bottom: 0.13em solid #FF4141; 
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 2.81em;
}

.nav-profile-icon {
    width: 2.19em; 
    height: auto;
}

.nav-login-cart button {
    width: 9.81em;
    height: 3.63em;
    outline: none;
    border: 0.06em solid #7a7a7a;
    border-radius: 4.69em;
    color: #515151;
    font-size: 1.25em;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

.nav-cart-count {
    width: 1.38em;
    height: 1.38em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2.19em 0 0 -3.44em;
    border-radius: 0.69em;
    font-size: 0.88em;
    background: red;
    color: white;
}

.nav-dropdown {
    display: none;
}

@media(max-width: 1280px) {
    .navigation {
        padding: 0.75em 3.13em;
    }
    .nav-logo img {
        width: 2.50em;
    }
    .nav-logo p {
        font-size: 1.56em;
    }
    .nav-menu {
        gap: 1.88em;
        font-size: 1.00em;
    }
    .nav-login-cart {
        gap: 1.88em;
    }
    .nav-login-cart button {
        width: 7.50em;
        height: 2.81em;
        font-size: 1.00em;
    }
    .nav-cart-count {
        margin-left: -2.50em;
        font-size: 0.75em;
    }
}

@media(max-width: 1024px) {
    .navigation {
        padding: 0.75em 3.13em;
    }
    .nav-menu {
        gap: 1.56em;
        font-size: 0.88em;
    }
    .nav-login-cart button {
        width: 5.00em;
        height: 2.19em;
        font-size: 0.88em;
    }
    .nav-login-cart img {
        width: 1.88em;
    }
    .nav-cart-count {
        width: 1.13em;
        height: 1.13em;
    }
}

@media(max-width: 800px) {
    .nav-menu {
        display: flex; 
        height: auto; 
        width: 100%;
        background-color: white;
        position: relative; 
        top: auto; 
        flex-direction: column; 
    }
    .nav-dropdown {
        display: block; 
    }
}

@media(max-width: 500px) {
    .navigation {
        margin-top: 1.88em;
        padding: 0.50em 0;
        gap: 0;
    }
    .nav-logo {
        transform: scale(0.80);
    }
    .nav-menu {
        top: 0.94em;
        flex-direction: row;
        width: auto;
        left: 25%;
        position: absolute;
    }
    .nav-login-cart {
        transform: scale(0.80);
    }
}
