.breadcrums {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: #5e5e5e;
    font-size: 1em;
    font-weight: 600;
    margin: 3.75em 10.63em;
    text-transform: capitalize;
}

@media(max-width:1280px) {
    .breadcrums {
        margin: 1.88em 3.13em;
        font-size: 0.88em;
    }
}

@media(max-width:1024px) {
    .breadcrums {
        margin: 1.88em 1.88em;
        font-size: 0.81em;
    }
}

@media(max-width:800px) {
    .breadcrums {
        margin: 1.88em 0.63em;
        font-size: 0.75em;
    }
}

@media(max-width:500px) {
    .breadcrums {
        font-size: 0.63em;
    }
}
