.myhero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}
.myhero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25em;
    padding-left: 11.25em;
    line-height: 1.1;
}
.myhero-left h2 {
    color: #090909;
    font-size: 1.63em;
    font-weight: 600;
}
.myhero-left p {
    color: #171717;
    font-size: 6.25em;
    font-weight: 700;
}
.myhero-hand-icon {
    display: flex;
    align-items: center;
    gap: 1.25em;
}
.myhero-hand-icon img {
    width: 6.56em;
}
.myhero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.94em;
    width: 19.38em;
    height: 4.38em;
    border-radius: 4.69em;
    margin-top: 1.88em;
    background: #ff4141;
    color: wheat;
    font-size: 1.38em;
    font-weight: 500;
    cursor: pointer;
}
.myhero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:1280px) {
    .myhero-left {
        padding-left: 6.25em;
    }
    .myhero-left h2 {
        font-size: 1.38em;
    }
    .myhero-left p {
        font-size: 3.75em;
    }
    .myhero-hand-icon img {
        width: 5em;
    }
    .myhero-latest-btn {
        gap: 0.63em;
        width: 15.63em;
        height: 3.75em;
        margin-top: 1.25em;
        font-size: 1.13em;
    }
    .myhero-right img {
        width: 31.25em;
    }
}

@media(max-width:1024px) {
    .myhero-left {
        padding-left: 5em;
    }
    .myhero-left h2 {
        font-size: 1.25em;
    }
    .myhero-left p {
        font-size: 3.13em;
    }
    .myhero-hand-icon img {
        width: 4.06em;
    }
    .myhero-latest-btn {
        width: 13.75em;
        height: 3.13em;
        font-size: 1em;
    }
    .myhero-right img {
        width: 25em;
    }
}

@media(max-width:800px) {
    .myhero-left {
        padding-left: 1.88em;
    }
    .myhero-left h2 {
        font-size: 1em;
    }
    .myhero-left p {
        font-size: 2.5em;
    }
    .myhero-hand-icon img {
        width: 3.13em;
    }
    .myhero-latest-btn {
        width: 10.94em;
        height: 2.5em;
        font-size: 0.81em;
    }
    .myhero-right img {
        width: 18.75em;
    }
}

@media(max-width:500px) {
    .myhero {
        flex-direction: column;
    }
    .myhero-right {
        display: none;
    }
    .myhero-left h2 {
        font-size: 1.13em;
    }
    .myhero-left p {
        font-size: 3.13em;
    }
    .myhero-hand-icon img {
        width: 3.44em;
    }
    .myhero-latest-btn {
        width: 12.5em;
        height: 2.81em;
        font-size: 0.88em;
    }
}
