.cartitem {
    margin: 6.25em 10.63em;
}
.cartitem hr {
    height: 0.19em;
    background: #e2e2e2;
    border: 0;
}
.cartitem-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 4.69em;
    padding: 1.25em 0;
    color: #454545;
    font-size: 1.13em;
    font-weight: 600;
}
.cartitem-format {
    font-size: 1.06em;
    font-weight: 500;
}
.carticon-product-icon {
    height: 3.88em;
}
.cartitem-remove-icon {
    width: 0.94em;
    margin: 0 2.5em;
    cursor: pointer;
}
.cartitem-quantity {
    width: 4em;
    height: 3.13em;
    border: 0.13em solid #ebebeb;
    background: #fff;
}
.cartitem-down {
    display: flex;
    margin: 6.25em 0;
}
.cartitem-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 12.5em;
    gap: 2.5em;
}
.cartitem-total-item {
    display: flex;
    justify-content: space-between;
    padding: 0.94em 0;
}
.cartitem-total button {
    width: 16.38em;
    height: 3.63em;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}
.cartitem-promocode {
    flex: 1;
    font-size: 1em;
    font-weight: 500;
}
.cartitem-promocode p {
    color: #555;
}
.cartitem-promobox {
    width: 31.5em;
    margin-top: 0.94em;
    padding-left: 1.25em;
    height: 3.63em;
    background: #eaeaea;
}
.cartitem-promobox input {
    border: none;
    outline: navajowhite;
    background: transparent;
    font-size: 1em;
    width: 20.63em;
    height: 3.13em;
}
.cartitem-promobox button {
    width: 10.63em;
    height: 3.63em;
    font-size: 1em;
    color: white;
    background: black;
    cursor: pointer;
}

@media(max-width:1280px) {
    .cartitem {
        margin: 3.75em 3.13em;
    }
    .cartitem-format-main {
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 1.25em;
        padding: 0.94em 0;
        font-size: 0.94em;
    }
    .carticon-product-icon {
        height: 3.13em;
    }
    .cartitem-remove-icon {
        margin: auto;
    }
    .cartitem-quantity {
        width: 2.5em;
        height: 1.88em;
    }
    .cartitem-down {
        margin: 5em 0;
        flex-direction: column;
        gap: 5em;
    }
    .cartitem-total {
        margin: 0;
    }
    .cartitem-total button {
        max-width: 12.5em;
        height: 2.81em;
        font-size: 0.81em;
    }
    .cartitem-promobox {
        width: auto;
        max-width: 31.25em;
    }
    .cartitem-promobox input {
        width: 100%;
    }
    .cartitem-promobox button {
        width: 7.5em;
        margin-left: -7.81em;
    }
}

@media(max-width:500px) {
    .cartitem-format-main {
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 0.63em;
    }
    .cartitem-format {
        display: grid;
    }
}
